<div class="flex" style="height: 100vh">
  <div class="col-6 m-3 flex flex-column justify-content-center">
    <div class="m-auto">
      <div class="text-center">
        <p-avatar
          image="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png"
          styleClass="mr-2"
          size="xlarge"
          shape="circle">
        </p-avatar>
        <h1>Sign in to your account</h1>
        <p-message
          severity="error"
          [text]="errorMsg"
          *ngIf="errorMsg"
          styleClass="mb-2"
        ></p-message>
        <div class="field">
          <label for="email">Email</label>
          <input
            id="email"
            pInputText
            type="email"
            class="w-full"
            [(ngModel)]="authenticationRequest.username"
          >
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input
            id="password"
            pInputText
            type="password"
            class="w-full"
            [(ngModel)]="authenticationRequest.password"
          >
        </div>
    </div>
      <button
        pButton
        label="Login"
        class="w-full"
        (click)="login()"
      >
      </button>
      <button
        pButton
        label="Don`t have an account. Sign in here"
        class="w-full p-button-link text-left pl-0"
      >
      </button>

    </div>
  </div>
  <div class="col-6 flex flex-column justify-content-center align-items-center right-container">
    <img
      class="background"
      src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80"
    >
  </div>
</div>


